{% extends 'base.admin.html.twig' %}

{% block body %}
    <h2 class="text-center">Voici la liste des commentaires à approuver :</h2>
    <div class="row" id="rowpost">
        {% for com in listComment %}
            <div class="col-sm-12 col-md-6 col-lg-4 padding-col">
                <div class="post-card admin p-3 mb-5 rounded other-card attente">
                    <p>{{ com.content }}</p>
                    <p class="text-right">Posté par {{ com.username }} le {{ com.createdAt|date("d-m-Y") }}</p>
                    <div class="editsupr">
                        <a class="col-sm-2 offset-sm-8 text-center text-decoration-none iconpost" href="{{ path('approveComments', {idcom: com.id }) }}"><i class="large material-icons">check</i></a>
                        <a class="col-sm-2 text-center text-decoration-none iconpost" href="{{ path('removeComments', {idcom: com.id}) }}"><i class="large material-icons">delete</i></a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}