{% extends 'base.admin.html.twig' %}

{% block body %}
    <h2>Editer un post :</h2>
    {{ form_start(formView) }}
    <div class="my-custom-class-for-errors">
        {{ form_errors(formView) }}
    </div>

    <div class="row form">
        <div class="col-sm-12 col-md-6">
            {{ form_row(formView.title, {'label': 'Titre :', 'attr': {'class': 'text-black'} , 'label_attr': {'class': 'text-black'}}) }}
        </div>
        <div class="col-sm-12 col-md-6">
            {{ form_row(formView.description, {'label': 'Description :'}) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(formView.content, {'label': 'Contenu :'}) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(formView.publishedAt, {'label': 'Date de publication :'}) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(formView.categories, {'label': 'Catégorie :'}) }}
        </div>
        <div class="col-sm-12">
            {{ form_row(formView.save, { 'label': 'Editer' }) }}
        </div>
    </div>
    {{ form_end(formView) }}
{% endblock %}